.pizza {
    border-style: dotted;
}
header {
    border-style: solid;
}
.main-block {
    border-style: solid;
}
.servises {
    border-style: solid;
}
.popular-products {
    border-style: solid;
}
.sales {
    border-style: solid;
}
footer {
    border-style: solid;
}
#alpina {
    height: 300px;
}
#pizzalogo {
    height: 300px;
}
#hawaii {
    height: 300px;
}
#karbonara {
    height: 300px;
}
#margarite {
    height: 300px;
}